<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Palmer Localhost</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  } );


  </script>
</head>
<body>

<ul id="sortable1" class="connectedSortable">
  {% if text %}
  <li class="ui-state-default">{{ text }}</li>

  <li class="ui-state-default">newDict.meow</li>
  {% endif %}
  <li class="ui-state-default">Item 2</li>
  <li class="ui-state-default">Item 3</li>
  <li class="ui-state-default">Item 4</li>
  <li class="ui-state-default">Item 5</li>
</ul>

<ul id="sortable2" class="connectedSortable">
  <li class="ui-state-highlight">Item 1</li>
  <li class="ui-state-highlight">Item 2</li>
  <li class="ui-state-highlight">Item 3</li>
  <li class="ui-state-highlight">Item 4</li>
  <li class="ui-state-highlight">Item 5</li>
</ul>

  <script>
  
  function showTask(task) {
    //should be a function of state
    var table = "<table><tr>"+task.title+"</tr><tr>"+task.users+"</tr><tr>"+task.description+"</tr><table>"
  $('#sortable1').append('<li class="ui-state-default">' +table+"</li>");

  }

  var js = {{ text|safe }};
  var subdict = js.task;
  $('#sortable1').append('<li class="ui-state-default">' + subdict.title + "</li>");
  $('#sortable1').append('<li class="ui-state-default">' + subdict.meow + "</li>");

  </script>


</body>
</html>